@import 'variables.module.scss';

// tailwind - "bg-green-200 rounded-md my-2 p-2"
.personsMessages{
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.375rem;
  display: inline-block;
  background-color: $green-200;
}

// w-20 h-20 rounded-full object-cover bg-red-800 flex items-center justify-center text-white text-4xl
.userWithoutPicture{
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 5rem;
  height: 5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #ffffff;
  background-color: $red-800;
}

// w-20 h-20 rounded-full object-cover flex items-center justify-center text-4xl
.userPicture{
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 5rem;
  height: 5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

// flex flex-row ml-4 items-center text-center border
.userBox{
  display: flex;
  margin-left: 1rem;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  text-align: center;
}

// min-h-full bg-green-400 flex justify-end items-end
// .clickedPersonsMessages{
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
//   min-height: 100%;
//   background-color: $green-400;
// }

.clickedPersonsMessages {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100%;
  background-image: url('/pictures/background.jpg');
  /* Specify the path to your background image */
  background-size: cover;
  /* Cover the entire div with the background image */
  background-repeat: no-repeat;
  /* Prevent the background image from repeating */
}

// .userSearchBox {
//   margin-left: 1rem;
//   display: flex;
//   margin-left: 1rem;
//   flex-direction: row;
//   align-items: center;
//   text-align: center;
// }

.userSearchBox {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.inputContainer {
  flex-grow: 1;
  /* Input field takes up remaining space */
}